*.log
*.log.*
*.pot
*.pyc
local_settings.py
*.sublime-*
private/
node_modules/
webpack-stats.json
.vscode/
environment
venv/
tapiriik/testing/data/*
tapiriik/local_settings.py
/static/
logs/
.DS_Store