requests
pymongo==4.2.0
pytz
lxml
dropbox==10.10.0
python-dateutil
Django==3.1.14
pycryptodome
django-pipeline==2.0.8
requests_oauthlib==0.4.0
redis==2.10.6
django-ipware
smashrun-client>=0.6.0
isodate
django-webpack-loader
cssmin
jsmin
boto3