requests
pymongo==3.7.2
pytz
lxml
dropbox==10.10.0
python-dateutil
Django==2.2.27
pycryptodome
django-pipeline==1.7.0
requests_oauthlib==0.4.0
redis==2.10.6
django-ipware
smashrun-client>=0.6.0
isodate
django-webpack-loader
cssmin
jsmin
boto3