
.contentOuter {
	width:auto;
	height:auto;
	display:block;
	position: relative;
	padding:0;
	margin:0;
}

.contentWrap {
	display: block;
}

.content {
}

.logo {
	text-align: left;
	margin-left:30px;
	margin-top:-120px;
	width:auto;
}

.logo .sub {
	display: none;
}

.logoPad {
	margin-top:120px;
}

.contentOuterBorder {
	margin:20px;
	left:0;
	right:0;
	width:auto;
}

.footers {
	display: none;
}

.diagTable{
	margin-top: 20px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table.diagTable tbody th{
	color: white;
	background-color: #0071b9;
	padding: 11px 0;
}


table.diagTable tbody td, table.diagTable tbody th {
	border: 3px solid white;
	text-align: left;
	padding: 8px;
}

table.diagTable tbody tr:nth-child(even) {
	background-color: #daf2ff;
}

table.diagTable tbody tr:nth-child(odd) {
	background-color: #aae1fc;
}

table.diagTable.bfc tbody td:nth-child(n+1) {
	font-weight: 350;
}

table.diagTable.bfc tbody td:nth-child(1) {
	font-weight: 550;
}