{% extends "site.html" %}
{% load displayutils %}
{% block title %}Stats{% endblock %}
<!-- {% block extra_head %}
    <link rel="stylesheet" href="/static/diagnostics.css"/>
{% endblock %} -->
{% block content %}
<div style="text-align:left">
    <div class="block">
        <h3>Users stats</h3>
        <ul>
            <li><b>Total number of users : </b>{{ userCt }}</li>
            <li><b>Total number of connections : </b>{{ connCt }}</li>
        </ul>
        <table class="diagTable bfc">
            <tr>
                <th>Service Name</th>
                <th>Number of<br>activations</th>
                <th>Users only<br>subscribed<br>to coach</th>
                <th>Mongo count of<br>webhook<br>subscribed Users</th>
                {% if need_real %}<th>Real count of<br>webhook<br>subscribed Users</th>{% endif %}
            </tr></li>
            {% for svc_stat in services_stats %}
                <tr>
                    <td>{{svc_stat.Name}}</td>
                    <td>{{svc_stat.NbUsers}}</td>
                    <td>
                        {% if svc_stat.OneSvcSubedUsers != None %}
                            {{svc_stat.OneSvcSubedUsers}}
                        {% else %}
                            NC
                        {% endif %}
                    </td>
                    <td>
                        {% if svc_stat.MongoNbWebhookSubedUsers != None %}
                            {{svc_stat.MongoNbWebhookSubedUsers}}
                        {% else %}
                            NC
                        {% endif %}
                    </td>
                    {% if need_real %}
                        <td>   
                        {% if svc_stat.RealNbWebhookSubedUsers != None %}
                            {{svc_stat.RealNbWebhookSubedUsers}}
                        {% else %}
                            NC
                        {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="block">
        <a href="./list_strava_and_std_users.txt" class="button" >Download list of user connected to Strava and STD</a>
    </div>
</div>


{% endblock %}