{% extends "site.html" %}
{% block title %}Stats{% endblock %}

{% block page_title %}Users stats{% endblock %}

{% block content %}
<p><b>Total number of users : </b>{{ userCount }}</p>
<p><b>Total number of connections : </b>{{ connCount }}</p>
<p><b>Total number of users only connected to STD : </b>{{ userConnectedOnlySTDCount }}</p>

<table>
    <tr>
        <th style="text-align: left;">Service Name</th>
        <th style="text-align: left;">Number of activations</th>
    </tr></li>
    {% for svc_stat in services_stats %}
        <tr>
            <td>{{svc_stat.Name}}</td>
            <td>{{svc_stat.NbUsers}}</td>
        </tr>
    {% endfor %}
</table>

<p><b>Data asked in {{ queriesExecutionTime }} ms</b></p>
{% endblock %}