{% extends "email/template.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "It's been a good" %} {{ subscription_days }} {% trans "days" %}!</h1>
<p>{% trans "In the past" %} {{ subscription_fuzzy_time }} {% trans "or so, tapiriik has kept your" %} {{ account_list }} {% trans "in sync, automatically transferring" %} {% if distance %}{% trans "over" %} {{ distance }} {% trans "km of activities" %}{% else %}{% trans "your fitness activities night and day" %}{% endif %}.</p>

<h2>{% trans "Want to continue automatic synchronization?" %}</h2>

<p>{% trans "If you want to keep automatic synchronization for another year, visit " %}<a href="https://tapiriik.com">tapiriik.com</a>, {% trans "connect to one of your accounts, and click the "Automatic Synchronization" link." %}</p>

<h2>{% trans "Don't worry - you won't automatically be billed." %}</h2>
<p>{% trans "(and if you were dissatisfied with your experience, please reply to this email to let me know why!)" %}</p>

{% endblock %}
{% block plaintextcontent %}
{% trans "It's been a good" %} {{ subscription_days }} {% trans "days" %}!

{% trans "In the past" %} {{ subscription_fuzzy_time }} {% trans "or so, tapiriik has kept your" %} {{ account_list }} {% trans "in sync, automatically monitoring and transferring" %} {% if distance %}{% trans "over" %} {{ distance }} {% trans "km of your activities" %}{% else %}{% trans "your fitness activities night and day" %}{% endif %}.

{% trans "If you want to keep automatic synchronization for another year, visit https://tapiriik.com then connect to one of your accounts, and click the "Automatic Synchronization" link." %}

{% trans "Don't worry - you won't automatically be billed. If you were dissatisfied with your experience, please reply to this email to let me know why!)" %}

{% endblock %}