{% extends "site.html" %}
{% load i18n %}
{% block title %}{% trans "Credits" %}{% endblock %}

{% block page_title %}{% trans "Credits" %}{% endblock page_title %}


{% block content %}
        
<p>
	{% trans "Hub by DECATHLON is based on the open source project from Collin Fair" %} : <a href="https://tapiriik.com/">Tapiriik</a>.
</p>
<p>
	{% trans "Hub by DECATHLON is also based on the open source project from Anton Ashmarin" %} : Exercisync.
</p>
<p>
	{% trans "<b>Polar, Garmin Health, Fitbit, Coros, Suunto and Strava</b> to let us use their APIs which make this service possible." %}
</p>
<p>
	{% trans "And finally, thanks to all the testers giving us precious feedback to improve this service." %}
</p>
{% endblock %}