{% extends "site.html" %}
{% load i18n %}
{% block title %}Credits{% endblock %}
{% block content %}
<h3>Synchronisez vos applications de suivi sportif avec Decathlon.</h3>
        
<p>
	Hub by DECATHLON est basé sur le tapiriik projet open source Collin Fair.
</p>
<p>
	Hub by DECATHLON est aussi basé sur le Exercisync projet open source Anton Ashmarin.
</p>
<p>
	Timur Bilalov pour les contributions sur le site.
</p>
<p>
	Polar, Garmin, Fitbit, Coros, Suunto et Strava pour créer et maintenir des APIs qui rendent possible ce service.
</p>
<p>
	Et enfin, tous les testeurs.
</p>
{% endblock %}