{% extends "site.html" %}
{% load i18n %}
{% block title %}FAQ{% endblock %}
{% block content %}
<h3>Synchronisez vos applications de suivi sportif avec Decathlon</h3>
<div class="vtmn-grid vtmn-grid-cols-1 vtmn-gap-4">
	<h4>Questions / réponses</h4>
	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Le hub Decathlon c'est quoi ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>Nous avons créé ce service pour faciliter la portabilité des données sportives de nos produits DECATHLON vers Strava par exemple, mais aussi pour pouvoir regrouper les activités sportives d'autres constructeurs (Garmin, Polar, Fitbit...) au sein de vos applications DECATHLON.</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Que dois-je faire pour utiliser le Hub by DECATHLON ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Quels services sont unidirectionnels ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Dois-je connecter mes comptes à chaque fois ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Dois-je visiter hub.decathlon.com pour synchroniser mes activités ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Quelles sont les activités synchronisées ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Est-ce que le Hub by DECATHLON crée des doublons d'activités ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Quelles sont les données synchronisées ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Pourquoi les statistiques de l'activité changent après chaque synchronisation ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Est-ce que je peux voir quelles activités ont été synchronisées ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Est-ce que le Hub by DECATHLON modifie ou supprime mes activités ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Quelles sont les données stockées sur vos serveurs ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Comment puis-je connecter plus de services ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Comment fonctionne Fitbit ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Comment fonctionne Garmin Health ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">Est-ce que le Hub supportera le site d'activités sportives X ?</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p></p>
	</div>
</div>
{% endblock %}


{% block specific-js %}
<script src="{{STATIC_URL}}js/faq.js"></script>
{% endblock %}