{% extends "site.html" %}
{% load i18n %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="vtmn-grid vtmn-grid-cols-1 vtmn-gap-4">
	<h4>{% trans "Questions / Answers" %}</h4>
	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "What is HUB by DECATHLON?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>{% trans "We have created this service to facilitate the portability of sports data from our DECATHLON products to Strava, for example, but also to be able to group sports activities from other manufacturers (Garmin, Polar, Fitbit...) within your DECATHLON applications." %}</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "What do I have to do to use Hub by DECATHLON?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "Just connect to all the services you would like to sync between, then you can click on &quot;Sync now&quot;" %}
			{% trans "After this step, the next synchronizations should be automatic." %}
		</p>
		
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Which services are uni-directional ?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "Garmin Health, Coros and Polar only support retrieving activites." %}
			<br>
			{% trans "Strava only accepts new activities, it is not possible to retrieve activities from Strava." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Do I need to re-connect my accounts every time?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "<strong>No.</strong> Just <strong>connect to any one of the services you have already connected</strong>, and you will be signed back into Hub by DECATHLON and ready to start another synchronization." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Do I need to visit hub.decathlon.com to sync activities?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "<b>No. Synchronization is fully automatic.</b> You can also manually trigger a synchronization any time you want." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Which activities get synchronized?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "<b>All supported activities in your account are synchronized</b>. Garmin Health and Polar are two exceptions : it is one way could only get activities from Garmin and Polar." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Will Hub by DECATHLON create duplicated activities?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "No - <b>even if you tracked the same activity on multiple devices, or with multiple apps,</b> Hub by DECATHLON will see that and <b>won't create any duplicated activities</b>." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "What data gets synchronized?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "As much as possible: in addition to your path, Hub by DECATHLON will also sync <b>distance, speed, heart rate, cadence, power, calories burned and even temperature</b> between all services which support them." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "The activity statistics changed after a sync!" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "Discrepancies in activity statistics, like elevation gained/lost or calories burned, appear when <strong>services use different algorithms to calculate the same values</strong>. <strong>Hub by DECATHLON does not calculate these</strong> during synchronization." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Can I view which activities were synchronized?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "When logged in, you can <b>visit the " %}<a href="{% url 'activities_dashboard' %}">{% trans "activities dashboard" %}</a></b> {% trans "to see which activities were (or were not) synchronized, and to where." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Does Hub by DECATHLON ever modify or delete my activities?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "<b>No.</b> Simple as that." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "What data is stored on your servers?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "As little as is required. Check out the" %} <a href="{% url 'privacy' %}">{% trans "privacy page" %}</a> {% trans "for more." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "How do I connect more services?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "Just sign into any one of the services you already connected, then sign into the new service (or the other way around, it doesn't matter). The new service will be synchronized with all the others." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "What about Fitbit?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "When you want to log your Fitbit account with the HUB, don't forget to consent every sub-services of Fitbit. With Fitbit you can retrieve complete activity information such as GPS data and cardiac data. But on the other hand, Fitbit will only be able to retrieve summaries of the activities carried out on the other services." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "What about Garmin Health?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "The application is on read-only mode. This means that it can retrieve complete activity information such as GPS data and cardiac data. But on the other hand, Garmin Health will not be able to recover the activities of other services." %}
		</p>
	</div>

	<div class="faq-topic">
		<div class="faq-topic-header">
			<div class="faq-topic-header-title">{% trans "Will Hub by DECATHLON support Activity Tracking Site X?" %}</div>
			<div class="round-icon"><span class="vtmx-arrow-down-s-line"></span></div>
		</div>
		<p>
			{% trans "Possibly. We are open to contribute to connected sport ecosystem." %}
		</p>
	</div>
</div>
{% endblock %}


{% block specific-js %}
<script src="{{STATIC_URL}}js/faq.js"></script>
{% endblock %}