{% extends "site.html" %}
{% load i18n %}
{% block title %}Privacy{% endblock %}

{% block page_title %}Vos données personnelles{% endblock page_title %}

{% block content %}
<img src="{{STATIC_URL}}img/new/synchro_drawing.svg" alt="Illustration synchronisation">

<p>Le hub stocke <b>uniquement des tokens d’accès et les métadonnées de vos activités</b>. Votre email et mot de passe ne sont pas enregistrés.</p>

<div class="vtmn-grid vtmn-grid-cols-1 vtmn-gap-2">
    <h5>Les tokens d’accès c’est quoi ?</h5>
    <p>Les Access tokens permettent au Hub de réaliser des actions pour vous. En utilisant des access tokens, le Hub ne sauvegarde pas vos login et mot de passe. Afin d'obtenir votre access token, le Hub a besoin de demander vos identifiants - qui ne sont pas conservés après avoir obtenu l'access token.</p>
</div>

<div class="vtmn-grid vtmn-grid-cols-1 vtmn-gap-2">
    <h5>Qu'est-ce que les métadonnées d'activité ?</h5>
    <p>Les métadonnées sont les informations basiques d'une activité : date, durée, distance, et type. Le Hub a besoin de stocker ces informations afin de déterminer quelles activités doivent être synchronisées.</p>
</div>

<div class="vtmn-grid vtmn-grid-cols-1 vtmn-gap-2">
    <h5>Que constituent les données d'activité ?</h5>
    <p>Les données d'activités sont les enregistrements complets d'une activité: le tracé GPS, les données de capteurs, et toutes les métadonnées.</p>
</div>

<p>Le Hub transfère vos activités sportives entre vos différents services. A noter que vos activités ne sont pas stockées par le Hub.
    Cependant, les services auxquels vous vous connectez peuvent, de leur propre initiative, partager vos données d'activité avec des tiers. Par exemple, veuillez consulter la politique de confidentialité des services auxquels vous vous connectez afin de déterminer comment ils traitent vos données.</p>

<div class="vtmn-grid vtmn-grid-cols-1 vtmn-gap-2">
    <h5>Exporter et supprimer vos données</h5>
    <p>Les données stockées par le Hub concernant vos comptes et activités sont automatiquement supprimées une fois que vous avez déconnecté votre dernier service de hub.decathlon.com. Seuls les journaux de diagnostic concernant votre compte resteront pour une période limitée par la suite - mais ne sont pas stockés de manière permanente. Au cours de ce processus, toutes les activités que le Hub a synchronisées avec les services que vous avez connectés resteront inchangées. Si vous souhaitez recevoir une copie de toutes les données que le Hub a stockées concernant votre compte utilisateur, ou demander la suppression de ces données, veuillez nous contacter et mentionner RGPD dans le sujet de l'email.</p>
</div>
{% endblock %}
