{% extends "site.html" %}
{% load i18n %}
{% block title %}disconnect{% endblock %}
{% block content %}
	
	<div class="dialogWrap dialogWrapShow">
		<img class="pic-dialog logo" src="{{ STATIC_URL}}img/decathlon/logos/{{ service.ID }}.png">
		<div class="dialogPopoverWrap">
			<div class="popover">
				<div class="popoverOuterBorder">
					<div class="popoverInner">
						<form method="POST" class="logout" action="#">
							{% csrf_token %}
							<a href="/" value="cancel" class="cancel button button-primary">{% trans "Never mind" %}<a/>
							<button type="submit" name="action" value="disconnect" class="disconnect button button-danger">{% trans "I'm sure" %}</button>
							<p class="subtitle">{% trans "Data won't be deleted - just no more synchronization will happen)" %}</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
