{% extends "site.html" %}
{% load i18n %}
{% load services %}
{% load users %}
{% load displayutils %}
{% block title %}activities{% endblock %}

{% block content %}
<p class="title"><i>{% trans "Your activities" %}</i></p>
<div ng-controller="ActivitiesController">
	<div class="block">
		<div class="row">
			<div class="col-md-12">

				<table class="activitiesTable">
					<tr class="headers">
						<th colspan="2">&nbsp;</th>
						<!--<th class="service-col" ng-repeat="svc in ServiceInfo|filter:{Connected:true}" title="{[ svc.DisplayName ]}">{[ svc.DisplayAbbreviation ]}</th>-->
					</tr>
					<tr class="activity" ng-class="{fullySynchronized: activity.FullySynchronized}" ng-repeat-start="activity in activities" ng-click="activity.ShowDetail = !activity.ShowDetail">
						<td class="dateCell text-center">{[ activity.readable_date ]}<br>{[activity.period]}</td>
						<td class="infoCell text-left">
							<strong>{[ activity.Type ]}</strong><br>
							{[ activity.Name ]}<br>
							<span class="label stationary" title="This activity has no sensor data." ng-show="activity.Stationary"><span class="default">{% trans "Stationary" %}</span></span>
							<span class="label" title="You've marked this activity as private." ng-show="activity.Private"><span class="warning">{% trans "Private" %}</span></span>
							<div class="prescence">
								<span ng-repeat="prescence in activity.Prescence" class="label prescence"> <span ng-class="{success: prescence.Present, danger: !prescence.Present}">{[DisplayNameByService(prescence.Service)]}</span></span>
							</div>
						</td>
					</tr>
					<tr class="activityDetail" ng-repeat-end ng-show="activity.ShowDetail && !activity.FullySynchronized">
						<td colspan="2" class="text-center">
							<span class="disclosure"></span>
							<span ng-hide="activity.FullySynchronized">
								<p>{% trans "This activity was not synchronized to the following services:" %}</p>
								<ul>
									<li ng-repeat="absence in activity.Prescence|filter:{Present:false}">
										<b>{[ DisplayNameByService(absence.Service) ]}</b>: {[ ExceptionExplanation(absence) ]}
									</li>
								</ul>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div> 
	<div class="activitiesTable-empty-message" ng-show="!loading && activities.length == 0"><h2>{% trans "exercisync doesn't know about any activities in your accounts" %}</h2>{% trans "Have you synchronized lately?" %}</div>
	<div class="activitiesTable-empty-message" ng-show="loading"><h2>{% trans "Loading..." %}</h2></div>
	<div class="block">
		<p class="info">{% trans "<b>If your account is currently synchronizing</b>, those activities will appear here once the synchronization completes. All dates shown are in UTC." %}</p>
	</div>
</div>
{% endblock %}