{% extends "site.html" %}
{% load i18n %}
{% load services %}
{% load users %}
{% load displayutils %}
{% block title %}activities{% endblock %}

{% block content %}
<p class="title"><i>{% trans "Your activities" %}</i></p>
<div ng-controller="ActivitiesController">
	<div class="block">
		<div class="row">
			<div class="col-md-12">

				<table class="activitiesTable">
					<tr class="headers">
						<th colspan="2">&nbsp;</th>
						<!--<th class="service-col" ng-repeat="svc in ServiceInfo|filter:{Connected:true}" title="{[ svc.DisplayName ]}">{[ svc.DisplayAbbreviation ]}</th>-->
					</tr>
					<tr class="activity" ng-class="{fullySynchronized: activity.FullySynchronized}" ng-repeat="activity in activities" ng-click="activity.ShowDetail = !activity.ShowDetail">
						<td class="dateCell text-center">{[ activity.readable_date ]}<br>{[activity.period]}</td>
						<td class="infoCell text-left">
							<p><strong>{[ activity.Type ]}</strong></p>
							<p>{[ activity.Name ]}</p><br>
							<span class="label stationary" title="This activity has no sensor data." ng-show="activity.Stationary"><span class="default">{% trans "Stationary" %}</span></span>
							<span class="label" title="You've marked this activity as private." ng-show="activity.Private"><span class="warning">{% trans "Private" %}</span></span>
							<div class="prescenceList">
								<span ng-repeat="svc in activity.Prescence|filter:{Present:true}" class="label"> <span class="success">{[DisplayNameByService(svc.Service)]}</span></span>
							</div>
							<div class="absenceList" ng-show="activity.ShowDetail && !activity.FullySynchronized">
								<span class="disclosure"></span>
								<div  ng-hide="activity.FullySynchronized">
									<p><strong>{% trans "This activity was not synchronized to the following services:" %}</strong></p>
									<span ng-repeat="svc in activity.Prescence|filter:{Present:false}" class="label absence"> <span class="danger">{[ DisplayNameByService(svc.Service) ]}</span> : <p class="small"><i>{[ ExceptionExplanation(svc) ]}</i></p></span>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div> 
	<div class="activitiesTable-empty-message" ng-show="!loading && activities.length == 0"><h2>{% trans "exercisync doesn't know about any activities in your accounts" %}</h2>{% trans "Have you synchronized lately?" %}</div>
	<div class="activitiesTable-empty-message" ng-show="loading"><h2>{% trans "Loading..." %}</h2></div>
	<div class="block">
		<p class="info">{% trans "<b>If your account is currently synchronizing</b>, those activities will appear here once the synchronization completes. All dates shown are in UTC." %}</p>
	</div>
</div>
{% endblock %}