{% extends "site.html" %}
{% load i18n %}
{% load services %}
{% load users %}
{% load displayutils %}
{% block title %}activities{% endblock %}


{% block page_title %}{% trans "Your activities" %}{% endblock page_title %}


{% block content %}

<ul class="recent-sync">
	<li class="vtmn-gap-4" v-for="activity in activities">
		<div class="vtmn-col-span-3">
			<p><b>{% verbatim  %}{{ activity.readable_date }}{% endverbatim  %}</b></p>
			<p>{% verbatim  %}{{ activity.period }}{% endverbatim  %}</p>
		</div>
		<div class="vtmn-col-span-5">
			<p><b>{% verbatim  %}{{  activity.Type  }}{% endverbatim  %}</b></p>
			<p>{% verbatim  %}{{  activity.Name  }}{% endverbatim  %}</p>
			<small class="vtmn-ml-6" v-if="activity.Stationary">{% trans "Stationary" %}</small>
			<small class="vtmn-ml-6" v-if="activity.Private">{% trans "Private" %}</small>
			<br v-if="!activity.Private && !activity.Stationary">

			<div>
				<p><b>{% trans "Synchronized : "%}</b></p>
				<div v-for="svc in activity.Prescence" class="tag green vtmn-inline-block vtmn-ml-2">{% verbatim  %}{{ svc }}{% endverbatim  %}</div>
			</div>

			<div v-if="activity.Abscence.length > 0">
				<p><b>{% trans "This activity was not synchronized to the following services:" %}</b></p>
				<div v-for="svc in activity.Abscence" class="tag blue vtmn-inline-block vtmn-ml-2">{% verbatim  %}{{ svc }}{% endverbatim  %}</div>
			</div> 
		</div>
	</li>
</ul>
<div v-if="activities.length == 0">{% trans "The hub doesn't know about any activities in your accounts" %}{% trans "Have you synchronized lately?" %}</div>
{% comment %} <div class="activitiesTable-empty-message" ng-show="loading"><h2>{% trans "Loading..." %}</h2></div> {% endcomment %}
<p>{% trans "<b>If your account is currently synchronizing</b>, those activities will appear here once the synchronization completes. All dates shown are in UTC." %}</p>

{% endblock %}


{% block specific-js %}
	{% if user != none %}
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="{{STATIC_URL}}js/vue.js"></script>
		<script src="{{STATIC_URL}}js/activity_dashboard_handler.js"></script>
	{% endif %}
{% endblock %}