{% extends "site.html" %}
{% load i18n %}
{% load services %}
{% load users %}
{% load displayutils %}
{% block title %}{% if user != none %}{% trans "dashboard" %}{% else %}{% trans "sync your runs, rides & more" %}{% endif %}{% endblock %}

{% block content %}
{% if user != none %}
	{% if user.ConnectedServices|length > 1 %}

		<div class="block">
			<div class="syncButtonBlock">
				<div class="syncButtonAttachment left">{% trans "Queueing to Synchronize" %}</div>
				<div class="syncButtonWrap">
					<a class="syncButton">{% trans "Synchronize now" %}<div class="syncButtonIcon"></div></a>
					<!--<a href="#/settings" class="syncSettingsNubbin"><span class="sr">{% trans "Synchronization Settings" %}</span><div class="syncSettingsNubbinIcon"></div></a>-->
				</div>
				<div class="syncButtonAttachment right">{% trans "Attached info 10%" %}</div>
			</div>
		</div> 
		<div class="block marginBottom10">
			{% include "settings-block.html" %}
		</div>
		<div class="block">
			{% include "recent-sync-activity-block.html" %}
		</div> 
		<div class="block text-center">
			<a href="{% url 'activities_dashboard' %}" class="button buttonLarge"><strong>{% trans "All Activities" %}</strong></a>
		</div>
		<div class="block">
			{% if user.NonblockingSyncErrorCount > 0 %}
				<a href="{% url 'activities_dashboard' %}" style="color:#aaa; font-size:80%;">{% trans "Some activities could not be synchronized." %}</a><br/>
			{% endif %}
		</div> 
	{% endif %}
	<div class="block">
		<div class="titleBlock">{% trans "Manage your services" %}</div>
		<div class="serviceButtonOuter">
			<div class="serviceButtonWrap row">
			{% for connection in user.ConnectedServices|svc_populate_conns %}
				{% with svc=connection.Service %}
					{% if svc.ID not in config.withdrawn_services %}
						{% include "service-button.html" with provider=svc connection=connection %}
					{% endif %}
				{% endwith %}
			{% endfor %}
			{% for provider in user.ConnectedServices|svc_providers_except %}
				{% if provider.ID not in config.soft_launch and provider.ID not in config.withdrawn_services %}
					{% include "service-button.html" with provider=provider inactive=True %}
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="block">
		{% for connection in user.ConnectedServices|svc_populate_conns %}
			{% with svc=connection.Service %}
				{% for error in connection.SyncErrors %}
					{% if error.UserException.InterventionRequired and error.Block %}
						{% include "service-blockingexception.html" with provider=svc connection=connection exception=error %}
					{% endif %}
				{% endfor %}
			{% endwith %}
		{% endfor %}
	</div>

	<!-- tooltip blocks -->
	{% if user.ConnectedServices|length > 1 %}
		<!--{% infotip connectedWillSync %}-->
			<div class="block">
				<div class="tooltip">{% trans "Connected services will be synchronized automatically" %}</div>
			</div>
		<!--{% endinfotip %}-->
	{% else %}
		<!--{% infotip connectOneMore %}-->
			<div class="block">
				<div class="tooltip">{% trans "Connect a second service to synchronize your activities to &amp; from" %}</div>
			</div>
		<!--{% endinfotip %}-->
	{% endif %}	
		
	{% if user.Substitute %}
		<h1>{% trans "Substituting user" %}</h1>
		<a href="{% url 'diagnostics_unsu' %}">{% trans "Return" %}</a>
		<hr/>
	{% endif %}

{% else %}
	{% ifequal device_support 'web' %}
	<div class="block">
		<p class="info">{% trans "Decathlon HUB synchronizes your activities between Aerobia, Garmin Connect, Polar Flow, PolarPersonalTrainer, Strava, RideWithGPS, Dropbox, Smashrun and BeginnerTriathlete<br/>	(your heart rate, cadence, power, and temperature data syncs too)" %}</p>
	</div>
	<dib class="block">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4 col-xs-4">
		    	<img class="logo" src="{{ STATIC_URL}}img/decathlon/logos/decathloncoach.png">
			</div>
			<div class="col-md-2 col-xs-4">
		    	<img class="logo" src="{{ STATIC_URL}}img/decathlon/logos/decathloncoachconnect.png">
			</div>
			<div class="col-md-2 col-xs-4">
	    		<img class="logo" src="{{ STATIC_URL}}img/decathlon/logos/decathloncoachdomyoseconnected.png">
			</div>
			<div class="col-md-3"></div>
		</div>
	</dib>
	<div class="block">
		<div class="titleBlock">{% trans "Connect to your Decathlon services" %}</div>
		<div class="serviceButtonOuter">
			<div class="serviceButtonWrap serviceButtonLogin row">
				{% for provider in service_providers %}
					{% if provider.ID in config.connection_services and provider.ID not in config.withdrawn_services %}
						{% include "service-button.html" with provider=provider inactive=True hideicon=True size=12 %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="block logoPartners">
		<div class="titleBlock">{% trans "Available services" %}</div>
		<div class="partnerOuter row">
			{% with localservices="decathlon decathlonpreprod" %}
  			{% for provider in service_providers %}
				{% if provider.ID not in config.withdrawn_services and provider.ID not in localservices.split %}
					{% include "service-logos.html" with provider=provider %}
				{% endif %}
			{% endfor %}
			{% endwith %}
		</div>
	</div>
	<div class="block">
		<p class="info">{% trans "Did not find your service?" %} - {% trans "Try here" %}: <a id="tapiriikLink" href="https://tapiriik.com">tapiriik.com</a></p>
		<p class="info">{% trans "Your email, password, and fitness data are kept safe - full details on the" %} <a href="{% url "privacy" %}">{% trans "privacy page" %}</a>.</p>
	</div>
	{% else %}

		<div class="block">
			<p class="info">{% trans "Welcome !" %}</p>
			<p class="info">{% trans "Decathlon HUB synchronizes your activities between Aerobia, Garmin Connect, Polar Flow, PolarPersonalTrainer, Strava, RideWithGPS, Dropbox, Smashrun and BeginnerTriathlete" %}</p>
		</div>

		<div class="block">
			<div class="serviceButtonOuter">
				<div class="serviceButtonWrap serviceButtonLogin row">
					{% for provider in service_providers %}
						{% if provider.ID in config.connection_services and provider.ID not in config.withdrawn_services %}
							{% include "service-button.html" with provider=provider inactive=True hideicon=True size=3 %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endifequal%}
{% endif %}
{% endblock %}
