{% load services %}
{% load i18n %}
{% with extauth=provider.RequiresExtendedAuthorizationDetails hasextauth=connection.HasExtendedAuthorizationDetails %}
<div class="serviceOuter col-md-{% if size %}{{size}}{% else %}4{% endif %} col-xs-12">
	<div class="service {{ provider.ID }}{% if inactive %} inactive {% endif %} {% if provider.ID in user.ConnectedServices|svc_ids and provider.ID not in config.disabled_services %} connected {% endif %}" id="{{ provider.ID }}">
		<div class="button">
			{% if provider.ID not in config.disabled_services %}
				{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
					<a href="{{ provider.UserAuthorizationURL }}" id="login" class="authDialog" service="{{ provider.ID }}">
				{% else %}
					<a href="{{ provider.UserDisconnectURL }}" id="logout" class="deauthDialog" service="{{ provider.ID }}">
				{% endif %}
						<div class="row">
							<div class="col-md-{% if not hideicon %}10{% else %}12{% endif %} col-xs-{% if not hideicon %}9{% else %}12{% endif %}">
								<div class="text"><i><!--
									-->{% if not user and device_support = 'mobile' %}<!--
										-->OK<!--
									-->{% else %}<!--
										-->{{ provider.DisplayName }}<!--
									-->{% endif %}<!--
								--></i></div>
							</div>
							{% if not hideicon %}
								<div class="col-md-2 col-xs-3">
									<div class="icon">
										{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
											<img src="{{ STATIC_URL }}img/decathlon/SVG/addWhite.svg">
										{% else %}
											<img class="logged" src="{{ STATIC_URL }}img/decathlon/SVG/validWhite.svg">
											<img class="logout" src="{{ STATIC_URL }}img/decathlon/SVG/stopFullWhite.svg">
										{% endif %}
									</div>
								</div>
							{% endif %}
						</div>
					</a>
			{% endif %}
		</div>
	</div>
</div>
{% endwith %}