{% load i18n %}
<div class="syncSettingsBlock" ng-controller="SyncSettingsController">
	<div class="internalPopover">
		<div class="popoverOuterBorder">
			<div class="popoverInner">
				<form>
					<div class="syncSettingsCloze">
						<p class="text">{% trans "Synchronize activities since" %}</p>
						<input type="text" placeholder="{% trans 'date start' %}" ng-model="sync_skip_before_entry" class="date js-datepicker" ng-change="save()"><button class="syncSettingsSaveButton button button-primary">{% trans "Save" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>