{% load i18n %}
{% load displayutils %}
{% load pipeline %}
<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139651566-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-139651566-1');
	</script>
	
	<meta http-equiv="Content-Type" value="text/html; charset=UTF-8">
	<meta name="Description" content="Automatically synchronize your fitness activities between Garmin Connect, Runkeeper, Strava and more.">
	<meta name="Keywords" content="automatic, synchronize, sync, update, copy, transfer, download, back up, export, fitness, garmin, garmin connect, runkeeper, strava, endomondo, sporttracks, trainingpeaks, ridewithgps, ride with gps, training peaks, dropbox, trainerroad, motivato, velohero, epson, runsense, path, track, heart rate, free, service, gpx, tcx, health, data, service, cycling, running, swimming, walking, what other activities can I put here?, underwater basket weaving, why are you reading the SEO keywords anyways, move along, nothing to see here">

	{% stylesheet 'tapiriik-css' %}
    {% if config.in_diagnostics %}
	<script type="text/javascript">tapiriik = {diagnostics: true};</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/Chart.min.js"></script>

	<link rel="stylesheet" href="{{ STATIC_URL }}css/diagnostics.css" />
	{% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    {% javascript 'tapiriik-js' %}
    {% if user %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    {% javascript 'tapiriik-user-js' %}
    {% endif %}
    <title>{% block site_title %}{% block title %}dashboard{% endblock %} &bull; Hub by DECATHLON{% endblock %}</title>

    <meta name="viewport" content="width=device-width">
	{% block head %}{% endblock %}

	<link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}img/favicon-16x16.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700i" rel="stylesheet">
	<link rel="manifest" href="{{ STATIC_URL }}site.webmanifest">
	<link rel="mask-icon" href="{{ STATIC_URL }}img/safari-pinned-tab.png" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="{{device_support}}{% if celebration_mode %} {{ celebration_mode.BodyCSSClasses }}{% endif %}{% if user = none %} unlog{% endif %}" ng-app="tapiriik">
	{% ifequal device_support 'web' %}
    	<div class="backgroundWrap">
	    	<div class="background">
	    		<img class="border" src="{{ STATIC_URL}}img/decathlon/border.png">
	    		{% if background_use %}
	    			<img class="header" src="{{ STATIC_URL}}img/decathlon/background_0{{background_use}}.png">
	    		{% else %}
	    			<img class="header" src="{{ STATIC_URL}}img/decathlon/main.png">
	    		{% endif %}
		    </div>
		</div>
	{% endifequal %}
<!-- I blame centre-aligning -->
{% if request.path != "/" %}
	<div class="backHome">
		<a href="/" class="backHomeLink">
			<!--<img class="backHomePic web" alt="go back home" src="{{ STATIC_URL }}img/decathlon/SVG/backhomewhite.svg">-->
			<img class="backHomePic mobile" alt="go back home" src="{{ STATIC_URL }}img/decathlon/SVG/backhomeblue.svg">
		</a>
	</div>
{% endif %}
	{% block backHome %}{% endblock %}
	<div class="header">
		<div class="logo">
			{% if celebration_mode.Logo %}
				<a href="/"><img src="{{ STATIC_URL}}img/{{ celebration_mode.Logo }}" title="{{ celebration_mode.TitleText }}" alt="{{ celebration_mode.TitleText }}"/></a>
			{% else %}
				<div class="logoLink">
					<a href="/">
						<img class="logo blue" alt="Hub by Decathlon" src="{{ STATIC_URL}}img/logo_hub_blue.png"></img>
						<img class="logo white" alt="Hub by Decathlon" src="{{ STATIC_URL}}img/logo_hub_white.png"></img>
					</a>
				</div>
			{% endif %}
		</div>
		<div class="logoPad"></div>
	</div>
	<div class="center">
		<div class="content contentMain">
			<div class="contentWrap">
				<div class="mainBlock">
					<div class="contentOuterBorder">
						<div class="block">
							{% if celebration_mode.Subtitle %}
								<div class="subtitle">{{ celebration_mode.Subtitle }}</div>
							{% else %}
								<div class="subtitle">{% trans "Share your activities with other apps !" %}</div>
							{% endif %}
						</div>
		    			{% block content %}{% endblock %}
		    		</div>
		    	</div>
	    	</div>
	    </div>
	    {% ifequal device_support 'web' %}
		    <div class="content contentFooter">
		    	<div class="contentWrap">
		    		<hr>
		    		<div class="footers"><a href="{% url 'faq' %}">{% trans "FAQ" %}</a> | <a href="{% url 'privacy' %}">{% trans "Privacy" %}</a> | <a href="{% url 'credits' %}">{% trans "Credits" %}</a>{% if user %} | <a href="#" onclick="tapiriik.Logout();">{% trans "Log out" %}</a>{% endif %}<br/><span style="font-size:95%;font-weight:normal">{% trans "All trademarks displayed are property of their respective owners" %}</br>
	    			</div>
	    		</div>
			</div>
		{% endifequal %}
	</div>

	<script type="text/javascript">
	{% include "js-bridge.js" %}
	</script>
</body>
</html>
