{% load i18n %}
{% load displayutils %}

{#{% load pipeline %}#}
<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="Description"
			content="Automatically synchronize your fitness activities between Garmin, Strava and more.">
		<meta name="Keywords"
			content="automatic, synchronize, sync, update, copy, transfer, download, fitness, garmin, garmin connect, strava, path, track, heart rate, free, service, gpx, tcx, health, data, service, cycling, running, swimming, walking">


		<title>{% block site_title %}{% block title %}dashboard{% endblock %} &bull; Hub by DECATHLON{% endblock %}</title>

		<meta name="viewport" content="width=device-width">
		{% block head %}{% endblock %}

		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap" />

		<link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}img/favicon-16x16.png">

		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">

		<link rel="stylesheet" href="https://unpkg.com/@vtmn/icons@0.3.3/dist/vitamix/font/vitamix.css">

		<link rel="manifest" href="{{ STATIC_URL }}site.webmanifest">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body>
		<header class="vtmn-place-items-center">
			<img src="{{STATIC_URL}}img/new/logo_hub.svg" alt="HUB by DECATHLON logo">
		</header>

		<main id="app" @keydown.esc="closeDisconnectModal" tabindex="0">
			{% if request.path != "/" %}
			<a class="back-button vtmn-absolute vtmn-top-5" href="/">
				<h5 class="vtmn-text-content-action vtmn-flex vtmn-items-center"><span class="vtmx-arrow-left-s-line"></span> <span class="mobile:vtmn-hidden">{% trans "Return to homepage" %}</span></h5>
			</a>
			{% endif %}

			<h3>
				{% block page_title %}
					{% trans "Synchronize your sport activity trackers with DECATHLON" %}
				{% endblock page_title %}
			</h3>
			
			{% block content %}{% endblock %}
		</main>

		<footer class="vtmn-grid-cols-1 vtmn-mb-10">
			<nav class="vtmn-text-center vtmn-mb-3">
				<a class="standalone small" href="./faq">{% trans "FAQ" %}</a>
				<a class="standalone small" href="./privacy">{% trans "Privacy" %}</a>
				<a class="standalone small" href="./credits">{% trans "Credits" %}</a>
				{% if user %}
					<form class="vtmn-inline" action="./auth/logout" method="post">
						{% csrf_token %}
						<a onclick="this.parentNode.submit();" class="standalone small">{% trans "Logout" %}</a>
					</form>
				{% endif %}
			</nav>
			
			{% if user %}
			<p class="small vtmn-text-center grey-text">
				{% trans "User ID" %} : {{ user|dict_get:'_id' }}
			</p> 
			{% endif %}

			<p class="small vtmn-text-center grey-text">
				{% trans "All trademarks displayed are property of their respective owners" %}
			</p> 
		</footer>

		{% block specific-js %}{% endblock %}

	</body>

</html>