{% load i18n %}
{% load displayutils %}

{#{% load pipeline %}#}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="Description"
			content="Automatically synchronize your fitness activities between Garmin, Strava and more.">
		<meta name="Keywords"
			content="automatic, synchronize, sync, update, copy, transfer, download, fitness, garmin, garmin connect, strava, path, track, heart rate, free, service, gpx, tcx, health, data, service, cycling, running, swimming, walking">


		<title>{% block site_title %}{% block title %}dashboard{% endblock %} &bull; Hub by DECATHLON{% endblock %}</title>

		<meta name="viewport" content="width=device-width">
		{% block head %}{% endblock %}

		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap" />

		
		<link rel="stylesheet" href="/static/css/style_copy.css">
		<link rel="stylesheet" href="/static/css/style.css">

		<link rel="stylesheet" href="https://unpkg.com/@vtmn/icons@0.3.3/dist/vitamix/font/vitamix.css">

		<link rel="manifest" href="{{ STATIC_URL }}site.webmanifest">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body
		class="{% if user = none %} unlog{% endif %}"
		ng-app="tapiriik">

		<header class="vtmn-place-items-center">
			<img src="static/img/new/logo_hub.svg" alt="HUB by Decathlon logo">
		</header>

		<main>
			{% if request.path != "/" %}
			<a class="back-button vtmn-absolute vtmn-top-5" href="/">
				<h5 class="vtmn-text-content-action"><span class="vtmx-arrow-left-s-line"></span> <span class="mobile:vtmn-hidden"> Retour</span></h5>
			</a>
			{% endif %}

			{% block content %}{% endblock %}
		</main>

		<footer class="vtmn-grid-cols-1 vtmn-mb-10">
			<nav class="vtmn-text-center vtmn-mb-3">
				<a class="vtmn-link vtmn-link--standalone vtmn-link_size--small" href="./faq">FAQ</a>
				<a class="vtmn-link vtmn-link--standalone vtmn-link_size--small" href="./privacy">Données
					personnelles</a>
				<a class="vtmn-link vtmn-link--standalone vtmn-link_size--small" href="./credits">Crédits</a>
				{% if user %}
					<form class="vtmn-inline" action="./auth/logout" method="post">
						{% csrf_token %}
						<a onclick="this.parentNode.submit();" class="vtmn-link vtmn-link--standalone vtmn-link_size--small">Déconnexion</a>
					</form>
				{% endif %}
			</nav>
			
			{% if user %}
			<p class="small vtmn-text-center grey-text">
				Identifiant utilisateur : {{ user|dict_get:'_id' }}
			</p> 
			{% endif %}

			<p class="small vtmn-text-center grey-text">
				Toutes les marques déposées sont la propriété de leurs propriétaires respectifs
			</p> 
		</footer>

		{% block specific-js %}{% endblock %}

	</body>

</html>